%a{name: "aboutme"}
%h2 ABOUT ME
%article.top
  %p.top
    I'm extremely down to earth and have an immense sense of humor. I don't smoke, I don't drink, if my background
    was any cleaner than it's now - you wouldn't be able to tell if I've ever existed. I've been told on several
    occasions that I have no life - to which I always reply: I'm a gamer, I have lots of lifes. I'm well educated
    and well informed  (
    %a{href: "http://www.reddit.com/", target: "_blank"} reddit
    &nbsp;and&nbsp;
    %a{href: "http://news.ycombinator.com/", target: "_blank"} hackernews
    )
%article
  %h4 Interests & Hobbies
  .breakdown
    %ul.tags{title: "Not in any particular order..."}
      %li Sleeping
      %li Scuba Diving
      %li Mountain Biking
      %li Gym
      %li Reading
      %li Eating
      %li Comedy
      %li Encryption
      %li Science
      %li Philosophy
      %li Knowledge
      %li Algorithms
      %li Video Games
      %li XBOX
      %li Swimming
      %li Running
      %li History
      %li Computers
      %li reddit.com
      %li Finances
      %li Technology
      %li Stocks
      %li Music
      %li Phones
      %li Movies
      %li News
      %li Development
      %li Scripts
      %li iPhone
      %li The Daily Show
      %li The Colbert Report
      %li Coding
      %li Physics
      %li Politics
      %li Modding
      %li Hacking
      %li Driving
      %li Cars
      %li Creativity
      %li Python
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,50,50,20,8,10,95,80,70,80,80,100,20,20,100,100&chs=430x150&chl=Sleeping|Reading|Eating|XBOX|Swimming|Running|reddit.com|Stocks|Grooveshark.com|Daily+Show|Colbert+Report|Coding|Modding|Hacking|Driving|Python&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,90,90,90,90,90,100,100,100,90,100,90,100,90,90,100,85,80,80,80&chs=430x150&chl=Comedy|Encryption|Science|Philosophy|Knowledge|Algorithms|Video+Games|History|Computers|Finances|Music|Phones|Movies|News|iPhone|Coding|Physics|Politics|Cars|Creativity&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Interests.. they overlap.. obviously"}/
