%a{name: "education"}
%h2 EDUCATION
%article.top
  %h4
    %span Miami Dade College
    %span.box 2005 - 2007
  %h5
    %span AA in Computer Science
    %strong Miami, Fl
  %ul.tags{title: "If it was technology oriented -- i took it :D"}
    %li Computer Programming
    %li Computer Design
    %li Computer Engineering
    %li Electrical Engineering
    %li Logic
    %li Circuits
    %li Game Design
    %li Game Development
    %li Networking
%article
  %h4
    %span Miami Central High School
    %span.box 2001 - 2005
  %h5
    %span Graduate
    %strong Miami, Fl
%h3.visual-aid Awards
%article.top.visual-aid
  %h4
    %span 1st Place FBLA (Miami)
    %span.box 2005
  %p.top Java competition
%article.visual-aid
  %h4
    %span 1st Place FBLA (Miami)
    %span.box 2004
  %p.top Visual Basic competition
%article.visual-aid
  %h4
    %span 1st Place FBLA (Florida)
    %span.box 2003
  %p.top Visual Basic competition
%article.visual-aid
  %h4
    %span 2nd Place FBLA (Miami)
    %span.box 2003
  %p.top Visual Basic competition
%p#who-cares.visual-aid But that was high school. Who cares?