%header
  %h2 EMPLOYMENT
%article.top
  %h4
    %a{href: "http://www.senzari.com", target: "_blank"} Senzari Inc.
    %strong Miami, Fl
  %h5
    %span Senior Software Engineer
    %strong.box.time Aug 2013 - Present
  %h5
    %span.strike
      %span Software Engineer
    %strong.box.time Oct 2011 - Aug 2013
  .breakdown
    %ul.tags{title: "tags"}
      %li Python
      %li Django
      %li ORM
      %li MVC
      %li CoffeeScript
      %li JavaScript
      %li jQuery
      %li jQuery UI
      %li backbone.js
      %li Node.js
      %li Redis
      %li Socket.io
      %li SQL
      %li CSS
      %li LESS
      %li SASS
      %li Git
      %li MySQL
      %li Postgres
      %li MongoDB
      %li Apache
      %li REST
      %li Facebook API
      %li Google Ads API
      %li ActionScript
      %li Vagrant
      %li Gunicorn
      %li nginx
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:5,5,3,5,7,6,2,7,1,4,9,3,3,4,3,4,5&chs=299x107&chl=Python|Django|ORM|MVC|JavaScript|jQuery|jQuery+UI|backbone.js|SQL|CSS|GIT|MySQL|Postgres|MongoDB|Apache|REST|FB+API&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
%article
  %h4
    %a{href: "http://thepoliticalliedetector.com/", target: "_blank", class: "dead-link"} Issue Based Media
    %strong Miami, Fl
  %h5
    %span Software Engineer
    %strong.box.time Jun 2011 - Sep 2011
  .breakdown
    %ul.tags{title: "tags"}
      %li Java
      %li Play!
      %li ORM
      %li MVC
      %li Regex
      %li JavaScript
      %li jQuery
      %li jQuery UI
      %li SQL
      %li CSS
      %li MySQL
      %li Tomcat
      %li Apache
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:15,5,5,3,20,100,80,5,10,80,20,15,40&chs=299x107&chl=Java|Play!|ORM|MVC|Regex|JavaScript|jQuery|jQuery+UI|SQL|CSS|MySQL|Tomcat|Apache&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
%article
  %h4
    %a{href: "http://www.visibilityrevolution.com/", target: "_blank", class: "dead-link"} Team 2 LLC
    %strong Miami Beach, Fl
  %h5
    %span Lead Software Engineer
    %strong.box.time Dec 2010 - Jun 2011
  .breakdown
    %ul.tags{title: "tags"}
      %li Python
      %li Django
      %li ORM
      %li MVC
      %li Regex
      %li JavaScript
      %li jQuery
      %li jQuery UI
      %li SQL
      %li CSS
      %li Git
      %li PostgreSQL
      %li Ubuntu
      %li Apache
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,100,60,70,50,100,90,30,60,70,90,70,50,25&chs=299x98&chl=Python|Django|ORM|MVC|Regex|JavaScript|jQuery|jQuery+UI|SQL|CSS|GIT|PostgreSQL|Ubuntu|Apache&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
%article
  %h4
    %a{href: "http://www.grabswag.com/", target: "_blank", class: "dead-link"} Miami Web Staff
    %strong Miami Beach, Fl
  %h5
    %span QAT/ Software Engineer
    %strong.box.time Jul 2010 - Nov 2010
  .breakdown
    %ul.tags{title: "tags"}
      %li Python
      %li Django
      %li ORM
      %li MVC
      %li Regex
      %li JavaScript
      %li jQuery
      %li SQL
      %li CSS
      %li Git
      %li PostgreSQL
      %li MySQL
      %li Ubuntu
      %li Apache
      %li Debugging
      %li Testing
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,100,60,70,50,100,90,60,70,80,10,10,10,90,90&chs=299x98&chl=Python|Django|ORM|MVC|Regex|JavaScript|jQuery|SQL|CSS|GIT|PostgreSQL|MySQL|Ubuntu|Apache|Debugging|Testing&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
%article
  %h4
    %a{href: "http://www.webtron.com/", target: "_blank"} Webtron Inc.
    %strong Miami, Fl
  %h5
    %span Software Engineer
    %strong.box.time Feb 2008 - Jul 2010
  .breakdown
    %ul.tags{title: "tags"}
      %li Coldfusion
      %li .NET
      %li Regex
      %li JavaScript
      %li jQuery
      %li jQuery UI
      %li prototype.js
      %li SQL
      %li CSS
      %li Microsoft SQL
      %li IIS
      %li Microsoft Server
      %li Voxeo
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,30,60,100,90,30,10,100,100,40,50,50,25&chs=320x98&chl=Coldfusion|.NET|Regex|JavaScript|jQuery|jQuery+UI|prototype.js|SQL|CSS|Microsoft+SQL|IIS|Microsoft+Server|Voxeo&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
%article
  %h4
    %a{href: "http://www.interbee.com/", target: "_blank", class: "dead-link"} Fix My PC Inc.
    %strong Miami, Fl
  %h5
    %span Computer Technician
    %strong.box.time Aug 2007 - Feb 2008
  .breakdown
    %ul.tags{title: "tags"}
      %li Repair
      %li Install
      %li Update
      %li Upgrade
      %li Maintain
      %li Desktop
      %li Notebook
      %li PC
      %li Mac
      %li Virus Removal
      %li LAN
      %li WAN
      %li Custom Built PC's
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,90,90,50,30,90,50,2,90,20,20,20&chs=350x98&chl=Repair|Install|Update|Upgrade|Maintain|Desktop|Notebook|PC|Mac|Virus+Removal|Custom+Built+PC's|LAN|WAN&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/