%header
  %h2 EMPLOYMENT
%article.top
  %h4
    %a{href: "https://www.advisoryboardcompany.com/", target: "_blank"} The Advisory Board Company.
    %strong Miami, Fl
  %h5
    %span Software Engineer
    %strong.box.time Sep 2016 - Present
  %p
    Too soon to tell..
  .breakdown
    %ul.tags{title: "tags"}
      %li Python
      %li Django
%article
  %h4
    %a{href: "http://www.senzari.com", target: "_blank"} Senzari Inc.
    %strong Miami, Fl
  %h5
    %span Senior Software Engineer
    %strong.box.time Aug 2013 - Sep 2016
  %h5
    %span.strike
      %span Software Engineer
    %strong.box.time Oct 2011 - Aug 2013
  %p
    I have been in charge of all api design, development and uptime for about 2 years, prior to that I worked a lot with Backbone.js making really snappy and "Web 2.0" apps. I am a full stack developer in all its glory: there isn't a single thing I don't touch, from SCSS(CSS) to configuring apache to playing nice with nginx.
  %p
    Currently, I am in charge of a dozen plus servers. I am ultimately responsible for all maintenance and deployments.
  .breakdown
    %ul.tags{title: "tags"}
      %li Python
      %li Bash
      %li Django
      %li Pyramid
      %li ORM
      %li MVC
      %li CoffeeScript
      %li JavaScript
      %li jQuery
      %li jQuery UI
      %li Fabric
      %li Angular.js
      %li Backbone.js
      %li Node.js
      %li Redis
      %li Socket.io
      %li SQL
      %li CSS
      %li Haml
      %li LESS
      %li SASS
      %li Git
      %li Supervisor
      %li MySQL
      %li Postgres
      %li MongoDB
      %li Apache
      %li REST
      %li AWS
      %li Google Cloud Platform
      %li Azure
      %li Facebook API
      %li Google Ads API
      %li ActionScript
      %li Vagrant
      %li Paster
      %li Gunicorn
      %li Newrelic
      %li nginx
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:5,5,3,5,7,6,2,7,1,4,9,3,3,4,3,4,5&chs=299x107&chl=Python|Django|ORM|MVC|JavaScript|jQuery|jQuery+UI|Backbone.js|SQL|CSS|GIT|MySQL|Postgres|MongoDB|Apache|REST|FB+API&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
%article
  %h4
    %a{href: "http://thepoliticalliedetector.com/", target: "_blank", class: "dead-link"} Issue Based Media
    %strong Miami, Fl
  %h5
    %span Software Engineer
    %strong.box.time Jun 2011 - Sep 2011
  %p
    I did a lot of work with Java, making pretty CSS forms that customers would fill out so we could spam them later. I was mostly creating single page apps that would entice the customer into giving us all of their preferences along with their email so we could sell it later.
  .breakdown
    %ul.tags{title: "tags"}
      %li Java
      %li Play!
      %li ORM
      %li MVC
      %li Regex
      %li JavaScript
      %li jQuery
      %li jQuery UI
      %li SQL
      %li CSS
      %li MySQL
      %li Tomcat
      %li Apache
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:15,5,5,3,20,100,80,5,10,80,20,15,40&chs=299x107&chl=Java|Play!|ORM|MVC|Regex|JavaScript|jQuery|jQuery+UI|SQL|CSS|MySQL|Tomcat|Apache&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
%article
  %h4
    %a{href: "http://www.visibilityrevolution.com/", target: "_blank", class: "dead-link"} Team 2 LLC
    %strong Miami Beach, Fl
  %h5
    %span Lead Software Engineer
    %strong.box.time Dec 2010 - Jun 2011
  %p
    I was involved in a tiny start up that failed to "launch". I was working as the sole engineer scrapping a lot of sites for content, thinking: this what google is indexing and rating us on. I learnt a lot of about scrapping in general, how to make it fast and scalable and what not to do with SEO.
  .breakdown
    %ul.tags{title: "tags"}
      %li Python
      %li Django
      %li ORM
      %li MVC
      %li Regex
      %li JavaScript
      %li jQuery
      %li jQuery UI
      %li SQL
      %li CSS
      %li Git
      %li PostgreSQL
      %li Ubuntu
      %li Apache
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,100,60,70,50,100,90,30,60,70,90,70,50,25&chs=299x98&chl=Python|Django|ORM|MVC|Regex|JavaScript|jQuery|jQuery+UI|SQL|CSS|GIT|PostgreSQL|Ubuntu|Apache&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
%article
  %h4
    %a{href: "http://www.grabswag.com/", target: "_blank", class: "dead-link"} Miami Web Staff
    %strong Miami Beach, Fl
  %h5
    %span QAT/ Software Engineer
    %strong.box.time Jul 2010 - Nov 2010
  %p
    I was originally hired in a QA capacity and quickly developed my python skills and started coding. Unfortunately, I didn't spend a whole lot of time here because they downsized shortly after I arrived.
  %p
    I did a lot of selenium tests and a lot of clicking around trying to figure out what would break on IE7 and other 'quirky' browsers. I did a lot of python debugging and learnt to use `pdb` quite well.
  .breakdown
    %ul.tags{title: "tags"}
      %li Python
      %li Django
      %li ORM
      %li MVC
      %li Regex
      %li JavaScript
      %li jQuery
      %li SQL
      %li CSS
      %li Git
      %li PostgreSQL
      %li MySQL
      %li Ubuntu
      %li Apache
      %li Debugging
      %li Testing
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,100,60,70,50,100,90,60,70,80,10,10,10,90,90&chs=299x98&chl=Python|Django|ORM|MVC|Regex|JavaScript|jQuery|SQL|CSS|GIT|PostgreSQL|MySQL|Ubuntu|Apache|Debugging|Testing&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
%article
  %h4
    %a{href: "http://www.webtron.com/", target: "_blank"} Webtron Inc.
    %strong Miami, Fl
  %h5
    %span Software Engineer
    %strong.box.time Feb 2008 - Jul 2010
  %p
    This was my first official "programmer" job; this is where I learnt and fell in love with Javascript. This was-and still is-a small development boutique, making very specialized software for their customers primarily in Coldfusion and .NET. I worked on a lot of legacy applications and new projects where I did most of the work ranging from record management for lawyers to front facing consumer retail.
  .breakdown
    %ul.tags{title: "tags"}
      %li Coldfusion
      %li .NET
      %li Regex
      %li JavaScript
      %li jQuery
      %li jQuery UI
      %li prototype.js
      %li SQL
      %li CSS
      %li Microsoft SQL
      %li IIS
      %li Microsoft Server
      %li Voxeo
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,30,60,100,90,30,10,100,100,40,50,50,25&chs=320x98&chl=Coldfusion|.NET|Regex|JavaScript|jQuery|jQuery+UI|prototype.js|SQL|CSS|Microsoft+SQL|IIS|Microsoft+Server|Voxeo&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
%article
  %h4
    %a{href: "http://www.interbee.com/", target: "_blank", class: "dead-link"} Fix My PC Inc.
    %strong Miami, Fl
  %h5
    %span Computer Technician
    %strong.box.time Aug 2007 - Feb 2008
  %p
    A lonely job for a poor college student. Remember the Windows XP viruses? I do, I was that nerdy kid with classes working behind the counter that did all the dirty work. I diagnosed and repaired all sorts of things: desktops, laptops, xbox, power supplies, laptop screens, laptop backlights, .. etc, a lot of work for little pay. Remember how the antivirus wouldn't remove the virus AFTER it was installed? Well, I was the guy in regedit removing those entires that would load the virus and NOT reformat your hard drive.
  .breakdown
    %ul.tags{title: "tags"}
      %li Repair
      %li Install
      %li Update
      %li Upgrade
      %li Maintain
      %li Desktop
      %li Notebook
      %li PC
      %li Mac
      %li Virus Removal
      %li LAN
      %li WAN
      %li Custom Built PC's
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,90,90,50,30,90,50,2,90,20,20,20&chs=350x98&chl=Repair|Install|Update|Upgrade|Maintain|Desktop|Notebook|PC|Mac|Virus+Removal|Custom+Built+PC's|LAN|WAN&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Time spend each day"}/
