%header
  %h2 HAVE AN IDEA?
  %p I'll work for free
%article.top
  %p.top
    Yeah, thats right,&nbsp;
    %strong FREE!
    &nbsp;If I determine your idea/ needs are worth while, I will dedicate as many programming man hours necessary to get the project complete.
  %p Anything from integrations, to automations. Call or email me the details.