- require 'date'
- current_year = Date.today().year
- timeline = [ { :name => 'Windows', :range => (2001..2011).flat_map { |x| [x] } },
               { :name => 'MS Batch', :range => (2001..2010).flat_map { |x| [x] } },
               { :name => 'MS Access', :range => (2001..2007).flat_map { |x| [x] } },
               { :name => 'VB6', :range => (2001..2007).flat_map { |x| [x] } },
               { :name => 'Java', :range => (2003..2007).flat_map { |x| [x] } + [2011] },
               { :name => 'VB.NET', :range => (2004..2009).flat_map { |x| [x] } },
               { :name => 'CSS', :range => (2007..current_year).flat_map { |x| [x] } },
               { :name => '⌙ LESS', :range => (2013..2016).flat_map { |x| [x] } },
               { :name => '⌙ SASS', :range => (2013..current_year).flat_map { |x| [x] } },
               { :name => 'Coldfusion', :range => (2008..2010).flat_map { |x| [x] } },
               { :name => 'MS SQL', :range => (2008..2010).flat_map { |x| [x] } },
               { :name => 'Javascript', :range => (2008..current_year).flat_map { |x| [x] } },
               { :name => '⌙ Coffeescript', :range => (2011..2016).flat_map { |x| [x] } },
               { :name => '⌙ Typescript', :range => (2016..2017).flat_map { |x| [x] } },
               { :name => 'Bash', :range => (2010..current_year).flat_map { |x| [x] } },
               { :name => 'Ubuntu', :range => (2010..current_year).flat_map { |x| [x] } },
               { :name => 'OS X', :range => (2010..current_year).flat_map { |x| [x] } },
               { :name => 'Python', :range => (2010..current_year).flat_map { |x| [x] } },
               { :name => 'Postgres', :range => (2010..current_year).flat_map { |x| [x] } },
               { :name => 'Redis', :range => (2010..current_year).flat_map { |x| [x] } },
               { :name => 'MySQL', :range => [2010, 2011, 2013, 2014] },
               { :name => 'MongoDB', :range => [2010, 2011, 2013] },
               { :name => 'Docker', :range => (2016..current_year).flat_map { |x| [x] } } ]

%header
  %h2 SKILLS
  %p My bread and butter
.content
  .visual-aid
    - language_msg = "Language skill visual aid"
    - tech_msg = "Technology skill visual aid"
    %img.visual-aid{alt: language_msg, title: language_msg, src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,85,80,70,95,50,25&chs=299x100&chl=Python|JavaScript|SQL|CSS|Coldfusion|Visual+Basic|Java&chco=AAAAAA,333333&chf=bg,s,65432100"}/
    %img.visual-aid{alt: tech_msg, title: tech_msg, src: "http://chart.googleapis.com/chart?cht=p3&chd=t:85,100,25,45,20,35&chs=299x100&chl=OS+X|Windows|Ubuntu|MS+SQL|MySQL|PostgreSQL&chco=AAAAAA,333333&chf=bg,s,65432100"}/
  %section.group
    %header
      %h3 Languages
    %article.top
      .content
        %header
          %h4 English
          %span.box native
    %article
      .content
        %header
          %h4 Spanish
          %span.box native
  %section.group
    %header
      %h3 Programming Languages
    %article.top
      .content
        %header
          %h4 Python
          %span.box advanced
        %p.top 2.x, 3.x, Django, pyramid, Fabric
    %article
      .content
        %header
          %h4 JavaScript/ CoffeeScript
          %span.box advanced
        %p.top jQuery, node.js, require.js, backbone.js, underscore.js, prototype.js, knockout.js, angular.js
    %article
      .content
        %header
          %h4 Bash
          %span.box advanced
        %p.top awk, sed, grep, ...
    %article
      .content
        %header
          %h4 SQL
          %span.box advanced
        %p.top MS SQL, PostgreSQL, MySQL, SQLite
    %article
      .content
        %header
          %h4 CSS
          %span.box advanced
        %p.top v1, v2, v2.1, v3, LESS, SASS, Stylus
    %article
      .content
        %header
          %h4 Coldfusion
          %span.box advanced
        %p.top 5.5, 7, 8, 9
    %article
      .content
        %header
          %h4 Java
          %span.box intermediate
        %p.top Play! Framework
    %article
      .content
        %header
          %h4 ActionScript
          %span.box intermediate
        %p.top 3.0
    %article
      .content
        %header
          %h4 Visual Basic
          %span.box intermediate
        %p.top .NET, 6.0, VBS
    %article
      .content
        %header
          %h4 Ruby
          %span.box rookie
        %p.top Rails
  %section.group
    %header
      %h3 Technologies
    %article.top
      .content
        %header
          %h4
            %span.icon.mac>
            Mac OS X
          %span.box advanced
        %p.top 10.5+
    %article
      .content
        %header
          %h4
            %span.icon.window>
            Windows
          %span.box advanced
        %p.top 98, NT, 2000, XP, 2003, Vista, 7, 8
    %article
      .content
        %header
          %h4
            %span.icon.ubuntu>
            Ubuntu
          %span.box advanced
        %p.top Precise-Vivid
    %article
      .content
        %header
          %h4
            %span.icon.postgres>
            PostgreSQL
          %span.box advanced
        %p.top 8.0, 9.x
    %article
      .content
        %header
          %h4
            Docker
          %span.box advanced
        %p.top 1.10.0+
    %article
      .content
        %header
          %h4
            %span.icon.mssql>
            Microsoft SQL
          %span.box intermediate
        %p.top 2000, 2005, 2008
    %article
      .content
        %header
          %h4
            %span.icon.mysql>
            MySQL
          %span.box intermediate
        %p.top 5.x
    %article
      .content
        %header
          %h4
            %span.icon.redis>
            Redis
          %span.box intermediate
        %p.top 3.x

  %section.group
    %header
      %h3 Timeline
      %p Who doesn't like graphs?!
    %article.top.nohover
      .content
        %table#timeline
          %thead
            %tr
              %th
              - (2001..current_year).each do |year|
                %th #{year}
          %tbody
            - timeline.each do |item|
              %tr{:title => "#{item[:range].size} years of experience.. give or take"}
                %td #{item[:name]}
                - (2001..current_year).each do |year|
                  %td{:class => "#{item[:range].include? year}"}

  %h3.visual-aid Other Visual Aid
  .visual-aid
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:15,1,10&chs=299x98&chl=OS+X|Windows|Linux&chco=AAAAAA,333333,999999&chf=bg,s,65432100", title: "OS usage"}/
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:1&chs=299x98&chl=Vim&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Editor usage"}/
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:10,1,1&chs=299x98&chl=Chrome|Firefox|IE&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Browser usage"}/
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:3,4,4,7&chs=299x98&chl=Coding|Clicking|Reading|Hunting+bugs&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Computer usage"}/
