%header
  %h2 SKILLS
  %p My bread and butter
.content
  .visual-aid
    %img.visual-aid{alt: "Language skill visual aid", src: "http://chart.googleapis.com/chart?cht=p3&chd=t:100,85,80,70,95,50,25&chs=299x100&chl=Python|JavaScript|SQL|CSS|Coldfusion|Visual+Basic|Java&chco=AAAAAA,333333&chf=bg,s,65432100"}/
    %img.visual-aid{alt: "Technology skill visual aid", src: "http://chart.googleapis.com/chart?cht=p3&chd=t:85,100,25,45,20,35&chs=299x100&chl=OS+X|Windows|Ubuntu|MS+SQL|MySQL|PostgreSQL&chco=AAAAAA,333333&chf=bg,s,65432100"}/
  %section.group
    %header
      %h3 Languages
    %article.top
      .content
        %header
          %h4 English
          %span.box native
    %article
      .content
        %header
          %h4 Spanish
          %span.box native
  %section.group
    %header
      %h3 Programming Languages
    %article.top
      .content
        %header
          %h4 Python
          %span.box advanced
        %p.top 2.x, Django
    %article
      .content
        %header
          %h4 JavaScript/ CoffeeScript
          %span.box advanced
        %p.top jQuery, node.js, require.js, backbone.js, underscore.js, prototype.js, knockout.js
    %article
      .content
        %header
          %h4 SQL
          %span.box advanced
        %p.top MS SQL, PostgreSQL, MySQL
    %article
      .content
        %header
          %h4 CSS
          %span.box advanced
        %p.top v1, v2, v2.1, v3, LESS, SASS
    %article
      .content
        %header
          %h4 Coldfusion
          %span.box advanced
        %p.top 5.5, 7, 8, 9
    %article
      .content
        %header
          %h4 ActionScript
          %span.box intermediate
        %p.top 3.0
    %article
      .content
        %header
          %h4 Visual Basic
          %span.box intermediate
        %p.top .NET, 6.0, VBS
    %article
      .content
        %header
          %h4 Java
          %span.box intermediate
        %p.top Play! Framework
    %article
      .content
        %header
          %h4 Ruby
          %span.box rookie
        %p.top Rails
  %section.group
    %header
      %h3 Technologies
    %article.top
      .content
        %header
          %h4
            %span.icon.mac>
            Mac OS X
          %span.box advanced
        %p.top 10.5+
    %article
      .content
        %header
          %h4
            %span.icon.window>
            Windows
          %span.box advanced
        %p.top 98, NT, 2000, XP, 2003, Vista, 7, 8
    %article
      .content
        %header
          %h4
            %span.icon.ubuntu>
            Ubuntu
          %span.box intermediate
        %p.top 10.10, 11.04
    %article
      .content
        %header
          %h4
            %span.icon.postgres>
            PostgreSQL
          %span.box intermediate
        %p.top 8.0, 9.x
    %article
      .content
        %header
          %h4
            %span.icon.mssql>
            Microsoft SQL
          %span.box intermediate
        %p.top 2000, 2005, 2008
    %article
      .content
        %header
          %h4
            %span.icon.mysql>
            MySQL
          %span.box intermediate
        %p.top 5.x
  %h3.visual-aid Other Visual Aid
  .visual-aid
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:15,1,10&chs=299x98&chl=OS+X|Windows|Linux&chco=AAAAAA,333333,999999&chf=bg,s,65432100", title: "OS usage"}/
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:1&chs=299x98&chl=Vim&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Editor usage"}/
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:10,1,1&chs=299x98&chl=Chrome|Firefox|IE&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Browser usage"}/
    %img.visual-aid{src: "http://chart.googleapis.com/chart?cht=p3&chd=t:3,4,4,7&chs=299x98&chl=Coding|Clicking|Reading|Hunting+bugs&chco=AAAAAA,333333&chf=bg,s,65432100", title: "Computer usage"}/
